@mixin display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transform($property){
    --webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}